extends ../layouts/layout

block content

  a.btn.btn-sm.btn-outline-secondary.mb-3(href="/") ⬅ Volver al Inicio
  h2 Nueva publicación
  
  form(action="/posts/create" method="POST" enctype="multipart/form-data")

    .mb-3
      label.form-label Título

      input.form-control(
        type="text"
        name="titulo"
        required
      )

    .mb-3
      label.form-label Descripción

      textarea.form-control(
        name="descripcion"
      )
    .mb-3
      label.form-label Tags

      input.form-control(
        type="text"
        name="tags"
        placeholder="paisaje, verano, mascotas, comida"
      )
      small.form-text.text-muted Separá las palabras utilizando comas para tags individuales.
    .mb-3
      label.form-label Imagen

      input.form-control(
        type="file"
        name="imagenes"
        accept="image/*"
        multiple
      )
      small.form-text.text-muted Podés seleccionar hasta 10 imágenes en simultáneo. Tamaño máximo por archivo: 3 MB.
    .mb-3
      .form-check
        input.form-check-input(
          type="checkbox"
          id="copyright"
          name="copyright"
          value="copyright"
        )
        label.form-check-label(for="copyright")
          | Imagen con copyright
    button.btn.btn-success
      | Publicar