extends ../layouts/layout

block content

  h2= publicacion.titulo
  
  if publicacion.imagenes.length > 0
    .row
      each imagen in publicacion.imagenes
        .col-md-4.mb-3
          img.img-fluid.rounded(
            src=imagen.url
          )
  p= publicacion.descripcion

  p
    strong Autor:
      a(href="/profile/" + publicacion.usuario.username)=publicacion.usuario.username

  if user && user.id === publicacion.usuario_id

    a.btn.btn-warning(
      href="/posts/" + publicacion.id + "/edit"
    )
      | Editar

    form(
      action="/posts/" + publicacion.id + "/delete"
      method="POST"
    )
      button.btn.btn-danger
        | Eliminar